* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #121212;
}

.calculator {
  color: aliceblue;
  border: 1px solid #fff;
  width: 100rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
